anthropic
openai
asgiref
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework_simplejwt
pillow
psycopg2-binary
PyJWT
sqlparse
tzdata
django-filter
python-decouple
social-auth-app-django